/* Footer
-------------------------------------------------- */

footer {
    line-height: 30px;
}

/* Game summary
-------------------------------------------------- */

#game-summary {
    display: grid;
    grid-template-columns: 40% auto 40%;
    grid-template-rows: auto;
    grid-template-areas: "title title title" "nickname score time";
    justify-items: center;
}

@media (min-width: 768px) {
    #game-summary {
        grid-template-columns: 25% auto 25%;
    }
}

#game-summary-title {
    grid-area: title;
}

#game-summary-nickname {
    grid-area: nickname;
}

#game-summary-score {
    grid-area: score;
}

#game-summary-time {
    grid-area: time;
}

/* Game view
-------------------------------------------------- */

#game-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -2.5vh;
}

#planet-list {
    width: 45%;
    overflow: auto;
    max-height: 65vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-right: 2.5%;
    margin-left: -2.5%;
}

@media (min-width: 768px) {
    #planet-list {
        width: 25%;
        max-height: 57vh;
    }
}

#starship-list {
    width: 45%;
    overflow: auto;
    max-height: 65vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media (min-width: 768px) {
    #starship-list {
        width: 25%;
        max-height: 57vh;
    }
}

.card {
    border: 2px solid #efefef;
    border-bottom: 0;
    padding: 10% 7%;
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: auto;
    grid-template-areas: "image name position";
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 50px;
}

.card:last-child {
    border-bottom: 2px solid #efefef;
}

.card:hover {
    background-color: #303030;
    cursor: pointer;
}

.planet-card .planet-icon {
    grid-area: image;
}

.planet-card .planet-name {
    grid-area: name;
    font-size: 125%;
    font-weight: bolder;
}

.planet-card .planet-position {
    grid-area: position;
}

.planet-icon {
    max-height: 64px;
    max-width: 64px;
    color: #efefef;
}

.starship-card .starship-icon {
    grid-area: image;
}

.starship-card .starship-name {
    grid-area: name;
    font-size: 125%;
    font-weight: bolder;
}

.starship-card .starship-position {
    grid-area: position;
    text-align: center;
}

.starship-icon {
    max-height: 64px;
    max-width: 64px;
    color: #efefef;
}

ul {
    list-style-type: none;
}

/* Planet screen
-------------------------------------------------- */

.planet-screen {
    margin: 8% auto;
    height: 70vh;
    width: 85vw;
    padding: 2%;

    display: grid;
    grid-template-rows: 25% 10% 65%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "icon name name position" "goods-title goods-title starships-title starships-title" "goods goods starships starships";

    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .planet-screen {
        width: 40vw;
        height: 60vh;
    }
}

.planet-screen .planet-icon {
    grid-area: icon;
}

.planet-screen .planet-name {
    grid-area: name;
}

.planet-screen .planet-position {
    grid-area: position;
}

.planet-screen .planet-goods-title {
    grid-area: goods-title;
}

.planet-screen .planet-ships-title {
    grid-area: starships-title;
}

.planet-screen .planet-goods {
    grid-area: goods;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.planet-screen .planet-goods table {
    border-collapse: collapse;
    border: 2px solid #efefef;
    padding: 0 2.5%;
    overflow: auto;
    width: 100%;
}

.planet-screen .planet-goods tr {
    height: 4vh;
}

.planet-screen .planet-goods th {
    border-top: 2px solid #efefef;
    border-right: 2px solid #efefef;
}

.planet-screen .planet-goods td {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    padding-left: 2.5%;
}

.planet-screen .planet-goods tr:first-child {
    border-top: 2px solid #efefef;
}

.planet-screen .planet-starships {
    grid-area: starships;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    padding: 0 2.5%;
}

.planet-screen .planet-starships .card {
    grid-template-areas: "image name name";
}

/* Ship screen
-------------------------------------------------- */

.starship-screen {
    margin: 9% auto;
    height: 65vh;
    width: 80vw;
    padding: 2%;

    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "icon name position movement" "cargo cargo cargo cargo";

    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .starship-screen {
        height: 55vh;
        width: 35vw;
    }
}

.starship-screen .starship-icon {
    grid-area: icon;
}

.starship-screen .starship-name {
    grid-area: name;
}

.starship-screen .starship-position {
    grid-area: position;
    text-align: center;
}

.starship-screen .starship-movement {
    grid-area: movement;
}

.starship-screen .starship-movement label {
    margin-bottom: 10%;
}

.starship-screen .starship-cargo-area {
    grid-area: cargo;
    width: 100%;
    height: 100%;
}

.starship-cargo {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "title title capacity capacity" "table table table table" "trade-sum trade-sum trade-control trade-control";
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.starship-cargo .starship-cargo-title {
    grid-area: title;
}

.starship-cargo .starship-cargo-capacity {
    grid-area: capacity;
}

.starship-cargo .starship-trade-title {
    grid-area: trade-title;
}

.starship-cargo .starship-trade-sum {
    grid-area: trade-sum;
}

.starship-cargo .starship-trade-control {
    grid-area: trade-control;
}

.starship-trade-control {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 25% 50%;
    grid-template-areas: "submit sell-all reset";
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.starship-trade-control .starship-trade-submit {
    grid-area: submit;
}

.starship-trade-control .starship-trade-sell-all {
    grid-area: sell-all;
}

.starship-trade-control .starship-trade-reset {
    grid-area: reset;
}

.starship-cargo .starship-cargo-table {
    grid-area: table;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.twoja-stara {
    margin-left: 2.5%;
    border-collapse: collapse;
    border: 2px solid #efefef;
    padding: 0 2.5%;
    overflow: auto;
}

.twoja-stara td {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    width: 0.5vh;
    height: 0.5vh;
}

.twoja-stara tr:first-child {
    border-top: 2px solid #efefef;
}

.starship-cargo .starship-cargo-table table {
    border-collapse: collapse;
    border: 2px solid #efefef;
    padding: 0 2.5%;
    overflow: auto;
    width: 100%;
}

.starship-cargo .starship-cargo-table tr {
    height: 4vh;
}

.starship-cargo .starship-cargo-table th {
    border-top: 2px solid #efefef;
    border-right: 2px solid #efefef;
}

.starship-cargo .starship-cargo-table td {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    padding-left: 2.5%;
}

.starship-cargo .starship-cargo-table tr:first-child {
    border-top: 2px solid #efefef;
}

.starship-trade-item-input {
    width: 15vw;
    margin-top: 1%;
}

.starship-trade-item-buy-max,
.starship-trade-item-sell-all {
    margin-top: 1%;
    margin-bottom: 1%;
    justify-self: center;
}

@media (min-width: 768px) {
    .starship-trade-item-input {
        width: 75%;
    }
}

/* Templates
-------------------------------------------------- */

.render-hide {
    visibility: hidden;
}

.template-root {
    visibility: visible;
}

/* Game over
-------------------------------------------------- */

.game-over-screen {
    margin: 8% auto;
    height: 65vh;
    width: 85vw;
    padding: 2%;

    display: grid;
    grid-template-rows: 50% 30% 20%;
    grid-template-columns: auto;
    grid-template-areas: "title" "text" "exit-button";

    align-items: center;
    justify-items: center;
}

.game-over-screen .game-over-title {
    font-size: 400%;
    grid-area: title;
}

.game-over-screen .game-over-text {
    font-size: 200%;
    grid-area: text;
}

.game-over-screen .exit-to-start-button {
    font-size: 200%;
    grid-area: exit-button;
}

@media (min-width: 768px) {
    .game-over-screen {
        height: 50vh;
        width: 30vw;
    }
}