/* Footer
-------------------------------------------------- */

footer {
    line-height: 30px;
}

/* Game summary
-------------------------------------------------- */

#game-summary {
    display: grid;
    grid-template-columns: 40% auto 40%;
    grid-template-rows: auto;
    grid-template-areas: "title title title" "nickname score time";
    justify-items: center;
}

@media (min-width: 768px) {
    #game-summary {
        grid-template-columns: 25% auto 25%;
    }
}

#game-summary-title {
    grid-area: title;
}

#game-summary-nickname {
    grid-area: nickname;
}

#game-summary-score {
    grid-area: score;
}

#game-summary-time {
    grid-area: time;
}

/* Game view
-------------------------------------------------- */

#game-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#planet-list {
    width: 45%;
    overflow: auto;
    max-height: 65vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media (min-width: 768px) {
    #planet-list {
        width: 25%;
        max-height: 57vh;
    }
}

#starship-list {
    width: 45%;
    overflow: auto;
    max-height: 65vh;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media (min-width: 768px) {
    #starship-list {
        width: 25%;
        max-height: 57vh;
    }
}

.card {
    border: 2px solid #efefef;
    border-bottom: 0;
    padding: 10% 7%;
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: auto;
    grid-template-areas: "image name position";
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    height: 50px;
}

.card:last-child {
    border-bottom: 2px solid #efefef;
}

.card:hover {
    background-color: #303030;
    cursor: pointer;
}

.planet-card .planet-icon {
    grid-area: image;
}

.planet-card .planet-name {
    grid-area: name;
    font-size: 125%;
    font-weight: bolder;
}

.planet-card .planet-position {
    grid-area: position;
}

.planet-icon {
    max-height: 64px;
    max-width: 64px;
    color: #efefef;
}

.starship-card .starship-icon {
    grid-area: image;
}

.starship-card .starship-name {
    grid-area: name;
    font-size: 125%;
    font-weight: bolder;
}

.starship-card .starship-position {
    grid-area: position;
    text-align: center;
}

.starship-icon {
    max-height: 64px;
    max-width: 64px;
    color: #efefef;
}

ul {
    list-style-type: none;
}

/* Planet screen
-------------------------------------------------- */

.planet-screen {
    margin: 8% auto;
    height: 70vh;
    width: 85vw;
    padding: 2%;

    display: grid;
    grid-template-rows: 25% 10% 65%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
            "icon name name position"
            "goods-title goods-title starships-title starships-title"
            "goods goods starships starships";

    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .planet-screen {
        width: 40vw;
        height: 60vh;
    }
}

.planet-screen .planet-icon {
    grid-area: icon;
}

.planet-screen .planet-name {
    grid-area: name;
}

.planet-screen .planet-position {
    grid-area: position;
}

.planet-screen .planet-goods-title {
    grid-area: goods-title;
}

.planet-screen .planet-ships-title {
    grid-area: starships-title;
}

.planet-screen .planet-goods {
    grid-area: goods;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.planet-screen .planet-goods table {
    border-collapse: collapse;
    border: 2px solid #efefef;
    padding: 0 2.5%;
    overflow: auto;
    width: 100%;
}

.planet-screen .planet-goods tr {
    height: 4vh;
}

.planet-screen .planet-goods th {
    border-top: 2px solid #efefef;
    border-right: 2px solid #efefef;
}

.planet-screen .planet-goods td {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    padding-left: 2.5%;
}

.planet-screen .planet-goods tr:first-child {
    border-top: 2px solid #efefef;
}

.planet-screen .planet-starships {
    grid-area: starships;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    padding: 0 2.5%;
}

.planet-screen .planet-starships .card {
    grid-template-areas: "image name name";
}

/* Ship screen
-------------------------------------------------- */

.starship-screen {
    margin: 9% auto;
    height: 65vh;
    width: 80vw;
    padding: 2%;

    display: grid;
    grid-template-rows: 25% 10% 55% 10%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
            "icon name position movement"
            "cargo-title cargo-title cargo-capacity cargo-capacity"
            "cargo cargo cargo cargo"
            "trade-title trade-sum trade-sum trade-submit";

    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .starship-screen {
        height: 55vh;
        width: 35vw;
    }
}

.starship-screen .starship-icon {
    grid-area: icon;
}

.starship-screen .starship-name {
    grid-area: name;
}

.starship-screen .starship-position {
    grid-area: position;
    text-align: center;
}

.starship-screen .starship-movement {
    grid-area: movement;
}

.starship-screen .starship-movement label {
    margin-bottom: 10%;
}

.starship-screen .starship-cargo-title {
    grid-area: cargo-title;
}

.starship-screen .starship-cargo-capacity {
    grid-area: cargo-capacity;
}

.starship-screen .starship-trade-title {
    grid-area: trade-title;
}

.starship-screen .starship-trade-sum {
    grid-area: trade-sum;
}

.starship-screen .starship-trade-submit {
    grid-area: trade-submit;
}

.starship-screen .starship-cargo {
    grid-area: cargo;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.starship-screen .starship-cargo table {
    border-collapse: collapse;
    border: 2px solid #efefef;
    padding: 0 2.5%;
    overflow: auto;
    width: 100%;
}

.starship-screen .starship-cargo tr {
    height: 4vh;
}

.starship-screen .starship-cargo th {
    border-top: 2px solid #efefef;
    border-right: 2px solid #efefef;
}

.starship-screen .starship-cargo td {
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
    padding-left: 2.5%;
}

.starship-screen .starship-cargo tr:first-child {
    border-top: 2px solid #efefef;
}

.starship-trade-input {
    width: 15vw;
}

@media(min-width: 768px) {
    .starship-trade-input {
        width: 75%;
    }
}