/* Fonts
-------------------------------------------------- */

html { font-size: 2.5vw; }

@media (min-width: 768px) {
    html {
        font-size: 1.45vh;
        overflow: hidden;
    }
}

body {
    font-family: "Segoe UI", sans-serif;
}

[hidden] {
    display: none !important;
}

/* Main styles
-------------------------------------------------- */

html {
    min-height: 100%;
    position: relative;
}

header {
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: #101010;
    color: #efefef;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
}

main {
    padding: 5%;
    display: flex;
    flex-flow: column;
}

footer {
    bottom: 0;
    height: 60px;
    line-height: 60px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

footer p {
    margin: auto;
}

/* Text
-------------------------------------------------- */

h1 {
    font-size: 200%;
}

.text-bleak {
    color: #707070
}

.text-green {
    color: #0eb70e;
}

.text-red {
    color: #b70e0e;
}

.text-cyan {
    color: #4eb7b7;
}

.text-yellow {
    color: #b7b70e;
}

.href-unstyled {
    text-decoration: none;
    color: #efefef;
}

/* Borders
-------------------------------------------------- */

.border {
    border: 2px solid #707070
}

.border-left {
    border-left: 2px solid #707070
}

.border-right {
    border-right: 2px solid #707070
}

.border-top {
    border-top: 2px solid #707070
}

.border-bottom {
    border-bottom: 2px solid #707070;
}

/* Buttons
-------------------------------------------------- */

.rounded-small {
    border-radius: 5px;
}

.rounded {
    border-radius: 10px;
}

.rounded-large {
    border-radius: 20px;
}

.button-cyan {
    background-color: #0eb7b7;
    border: 2px solid #0e7777;
    padding-left: 5%;
    padding-right: 5%;
}

.button-cyan[disabled],
.button-cyan[disabled]:hover,
.button-cyan[disabled]:active {
    background-color: #3e5757;
    border: 2px solid #1e2727;
}

.button-cyan:not([disabled]):hover {
    background-color: #0ed7d7;
    cursor: pointer;
}

.button-cyan:not([disabled]):active {
    background-color: #0e7777;
    box-shadow: 0 0 0 0.2rem rgba(14, 119, 119, 0.5)
}

.button-red {
    background-color: #b70e0e;
    border: 2px solid #770e0e;
    color: #cfcfcf;
    padding-left: 5%;
    padding-right: 5%;
}

.button-red:hover {
    background-color: #d70e0e;
    cursor: pointer;
}

.button-red:active {
    background-color: #770e0e;
    box-shadow: 0 0 0 0.2rem rgba(119, 14, 14, 0.5)
}

/* Forms
-------------------------------------------------- */

form {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 1%;
}

/* Modal
-------------------------------------------------- */

.modal,
.modal-permanent {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    position: relative;
    background-color: #101010;
    border: 2px solid #707070;
    margin: 20% auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
}

@media (min-width: 768px) {
    .modal-content {
        width: 25%;
    }
}