/* Highscore font
-------------------------------------------------- */

.leaderboards {
    font-size: 200%;
}

/* Highscore layout
-------------------------------------------------- */

main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.leaderboards {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 50px 0;
    width: 50%;
}

.leaderboards thead {
    text-align: center;
    height: 7vh;
}

.leaderboards th, .leaderboards td {
    padding: 5px 10px;
    width: auto;
}

.leaderboards tbody tr:nth-child(1) {
    background-color: rgba(175, 135, 0, 0.3);
}

.leaderboards tbody tr:nth-child(2) {
    background-color: rgba(160, 160, 160, 0.3);
}

.leaderboards tbody tr:nth-child(3) {
    background-color: rgba(139, 69, 19, 0.3);
}

/* Start button font
-------------------------------------------------- */

.start-button {
    font-size: 400%;
}

/* Start button
-------------------------------------------------- */

.start-button-container {
    display: flex;
}

.start-button {
    margin-top: 5vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Start popup
-------------------------------------------------- */

.start-popup {
    top: -15vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 30% 20%;
    grid-template-areas:
            "login register"
            "select-map select-map"
            "upload-map upload-map"
            "start-button start-button";
}

.login-form {
    grid-area: login;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.logout-form {
    grid-area: login;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

.logout-form .logout-button {
    margin-top: 10%;
}

.register-form {
    grid-area: register;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.login-button {
    margin-top: 10px;
    padding: 2px;
}

.register-button {
    margin-top: 10px;
    padding: 2px;
}

.select-map-form {
    grid-area: select-map;
    margin-top: 5%;
}

.select-map-form label {
    float: left;
}

.select-map-form select {
    width: 50%;
    padding: 5px;
    float: right;
}

.upload-map-form {
    grid-area: upload-map;
    margin-top: 5%;
}

.upload-map-form label {
    float: left;
}

.upload-map-form input {
    float: right;
}

.start-game-form {
    grid-area: start-button;
}

.start-game-button {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}