/* Highscore font
-------------------------------------------------- */

.leaderboards {
    font-size: 200%;
}

/* Highscore layout
-------------------------------------------------- */

main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.leaderboards {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 50px 0;
    width: 50%;
}

.leaderboards thead {
    text-align: center;
    height: 7vh;
}

.leaderboards th, .leaderboards td {
    padding: 5px 10px;
    width: auto;
}

.leaderboards tbody tr:nth-child(1) {
    background-color: rgba(175, 135, 0, 0.3);
}

.leaderboards tbody tr:nth-child(2) {
    background-color: rgba(160, 160, 160, 0.3);
}

.leaderboards tbody tr:nth-child(3) {
    background-color: rgba(139, 69, 19, 0.3);
}

/* Start button font
-------------------------------------------------- */

.start-button {
    font-size: 400%;
}

/* Start button
-------------------------------------------------- */

.start-button-container {
    display: flex;
}

.start-button {
    margin-top: 5vh;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Submit button
-------------------------------------------------- */

.submit-nickname-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}