/* Modal

 */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #101010;
    border: 2px solid #707070;
    margin: 20% auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}

/* Start button

 */

#new-game-button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}