<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Space Travelling Salesman</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/game.css">
</head>
<body>
<header class="bb">
    <section id="game-summary">
        <h1 id="game-summary-title"><a href="start.html" class="href-unstyled">Space Travelling Salesman</a></h1>
        <p id="game-summary-nickname" class="text-cyan">Player: V0ldek</p>
        <p id="game-summary-score" class="text-cyan">Credits: 1337 &#x20A1</p>
        <p id="game-summary-time" class="text-cyan">Time left: 05:32</p>
    </section>
</header>
<main id="game-view">
    <ul id="planet-list">

    </ul>
    <ul id="ship-list">

    </ul>
</main>
<footer class="bt">
    <p class="text-bleak">Space Travelling Salesman - &copy; 2019 Mateusz Gienieczko</p>
    <p class="text-bleak">Icons provided by FontAwesome under
        <a href="https://fontawesome.com/license">https://fontawesome.com/license</a></p>
</footer>
</body>
<script src="scripts/game.js" type="text/javascript"></script>
</html>